@import "src/global";

.container {
  @extend .full-space;
  position: relative;

  .nav {
    height: 10%;
    position: relative;
  }

  .body {
    height: 90%;
    padding: 0 5px;
    overflow-x: auto;

    .content {
      width: 90%;
      min-width: 720px;
      max-width: 1500px;
      height: 90%;
      margin: 20px auto 0;
      padding: 10px;

      display: grid;
      grid-template: 1fr 1fr / 1fr 2fr;
      grid-gap: 7px;

      overflow-y: auto;
    }
  }
}
