@import "src/global";

.container {
  @extend .full-space;
}

@media screen and (max-width: 750px) {
  .container {
    width: 99%;
  }
}

.notes {
  width: 100%;
  height: 95%;
  padding: 10px;

  border: none;
  outline: none;
  resize: none;
}
